<!-- Plantilla email correo Ok v.1.0 -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Exitoso</title>
</head>
<body>
    <h1>¡Hola {{ name }}!</h1>
    <p>Tu cumpleaños ha sido registrado exitosamente en nuestra base de datos.</p>
    <p>Nos alegra tenerte con nosotros y esperamos poder hacer tu día especial.</p>
    <p>¡No olvides estar atento a más sorpresas!</p>
    <p>Saludos,</p>
    <p>El equipo de The End</p>
</body>
</html>
